# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [1]:
number_1 = 42
number_2 = 42
print(number_1 == number_2)
print(id(number_1), id(number_2))

True
10752168 10752168

For integer numbers from -5 to 256 used reserver objects in memory.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [2]:
print(isinstance(True, bool))
print(isinstance(True, int))
print(isinstance(True, float))

True
True
False

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [3]:
a = 3
b = 42.3

print(f"{a} + {b} = {a + b}")
print(f"{b} + {a} = {b + a}")

print(f"{a} - {b} = {a - b}")
print(f"{b} - {a} = {b - a}")

print(f"{a} / {b} = {a / b}")
print(f"{b} / {a} = {b / a}")

print(f"{a} * {b} = {a * b}")
print(f"{b} * {a} = {b * a}")

print(f"{a} // {b} = {a // b}")
print(f"{b} // {a} = {b // a}")

print(f"{a} % {b} = {a % b}")
print(f"{b} % {a} = {b % a}")

print(f"{a} ** {b} = {a ** b}")
print(f"{b} ** {a} = {b ** a}")

3 + 42.3 = 45.3
42.3 + 3 = 45.3
3 - 42.3 = -39.3
42.3 - 3 = 39.3
3 / 42.3 = 0.07092198581560284
42.3 / 3 = 14.1
3 * 42.3 = 126.89999999999999
42.3 * 3 = 126.89999999999999
3 // 42.3 = 0.0
42.3 // 3 = 14.0
3 % 42.3 = 3.0
42.3 % 3 = 0.29999999999999716
3 ** 42.3 = 1.5213497751536848e+20
42.3 ** 3 = 75686.96699999999

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [4]:
b_int = int(b)
print(b_int)
print(isinstance(b_int, int))
print(isinstance(b_int, float), '\n')

x_bool = True
print(x_bool)
x_int = int(x_bool)
print(x_int)

42
True
False

True
1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [5]:
string_1 = ''
string_2 = ""
print(id(string_1), id(string_2))

10772288 10772288

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [6]:
string_3 = 'some`s\'s'
print(string_3)
string_4 = r'some`s\'s'
print(string_4)

some`s's
some`s\'s

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [7]:
my_surname = "Avdieienko"
string_surname = f"My surname is {my_surname}"
print(string_surname)

My surname is Avdieienko

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [8]:
string_5 = "My dog is crazy."
list_string_5 = string_5.lower().split()
print(list_string_5)

['my', 'dog', 'is', 'crazy.']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [9]:
list_1 = list((1, 2, 3, 4))
list_2 = [1, 2, 3, 4, 5]
print(len(list_1))
print(len(list_2))

4
5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [10]:
list_1 = list((1, 2, 3, 4))
list_2 = [1, 2, 3, 4, 5]
list_1.append(list_2)
print(list_1)

[1, 2, 3, 4, [1, 2, 3, 4, 5]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [11]:
list_3 = [[1], [1, 2], [41, 42, 43]]
print(list_3[-1][0])

41

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [12]:
list_4 = [0, 1.1, 2j+1, True, [4], {5}, {6 : 'word'}, (1, 2), 55, 1/2]
print(list_4)
list_5 = list_4[2:-2]
print(list_5)

[0, 1.1, (1+2j), True, [4], {5}, {6: 'word'}, (1, 2), 55, 0.5]
[(1+2j), True, [4], {5}, {6: 'word'}, (1, 2)]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [13]:
tuple_1 = (1, )
print(isinstance(tuple_1, tuple))

True

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

*місце для текстової відповіді

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [14]:
tuple_2 = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 10.3, 11.3)
tuple_3 = tuple_2[-2::-2]
print(tuple_3)

(10.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [15]:
set_1 = set()
print(id(set_1))
set_1.add(1)
set_1.add(2.2)
print(id(set_1))
print(set_1)

132754421635712
132754421635712
{1, 2.2}

Set is mutable

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [16]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)
print(my_set)

{1, 2, 67, 8, 9}

Set collect only unique elements

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [17]:
set_x = {1, 2, 3}
set_y = {2, 3, 4, 5}

set_2 = set_x.union(set_y)
print(set_2)
set_3 = set_x.difference(set_y)
print(set_3)
set_4 = set_x.intersection(set_y)
print(set_4)
set_5 = set_x.symmetric_difference(set_y)
print(set_5)

{1, 2, 3, 4, 5}
{1}
{2, 3}
{1, 4, 5}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [18]:
my_dict = {}

my_dict[1] = "text_1"
my_dict["name"] = "text_2"
my_dict[3.5] = {1, 2, 3}
my_dict[False] = False

print(my_dict)

{1: 'text_1', 'name': 'text_2', 3.5: {1, 2, 3}, False: False}

*місце для текстової відповіді

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [19]:
dict_1 = {1: 'text_1', 'name': 'text_2',
          3.5: {1 : 1, 2 : 2, 3 : 3}, False: False}
print(dict_1[3.5][1])

1

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.